# Node dependencies
node_modules/
.pnpm/
.pnpm-debug.log*
package-lock.json

# Build outputs
.next/
out/
dist/

# SST build artifacts
.stacks/
.sst/
sst-env.d.ts
.open-next

# Environment files
.env
.env.*

# Logs and coverage
*.log
coverage/

# Editor directories
.vscode/
.idea/

# pnpm lockfile
pnpm-lock.yaml
.DS_Store
